.cButonCifrar {
  padding: 1em;
  text-align: center;
}

.cTextAreas {
  padding: 1em;
}

.cIntroducirNumCesar {
  padding: 1em;

}

.descifradoContainer {
  text-align: center;
  padding: 1em;
}

textarea {
  height: 10em;
  width: 40em;
  vertical-align: top;
}

#textAreaCifrar {
  text-align: left;
}

.button {
  background: #ccc;
  border: #000 1px solid;
  padding: 1em;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.cDifradoContainer,
.cDescifradoContainer {
  border: #000 1px solid;
}